/bootstrap/compiled.php
/app/config/local
/app/config/database.php
/vendor
nbproject
public/packages
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/uploads
public/assets_builds