.album-box {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    /*min-height: 270px;*/
}
.album-box .album-name {
    margin-top: 0;
}
.album-box .album-controls span{ 
    font-size: 14px;
}
.album-box .album-thumb {
    border: 1px solid #dadada;
    padding: 5px;
}

.album-box .album-controls {
    margin-top: 5px;
}

textarea {
    max-width: 100%;
}

.form-filter .control-label{
}

.uploaded-photo-container {
    border: 1px solid #dadada;
    margin: 5px 0;
    padding: 5px;
    overflow-y: auto;
}

.uploaded-photo-thumb {
    width: 150px;
    border: 1px solid #dadada;
    padding: 5px;
    float: left;
}

.uploaded-photo-controls {
    margin-left: 170px;
}

.uploaded-photo-controls input[type=text]{
    width: 100%;
}

.uploaded-photo-controls label {
    font-weight: 500;
}

.uploaded-photo-controls .btn-delete-photo {
    float:right;
    cursor: pointer;
}
.select2-container {
    max-width: 100% !important;
}