.a-center {
    text-align: center ;
}
.no-margin {
    margin: 0 !important
}
.p10-0 {
    padding: 10px 0px;
}
.pt-10 {
    padding-top: 10px
}
.mb-10 {
    margin-bottom: 10px;
}
.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
    height: 23px !important;
}
.stButton .stButton_gradient {
    height: 22px !important;
}
#custom-booking-form-wrapper .rotate {
    width: 100px;
    height: 25px;
    font-size: 11px;
    background: #000;
    color: #fff;
}
#custom-booking-form-wrapper input[type="text"],
#custom-booking-form-wrapper input[type="email"] {
    border-radius: 0 !important;
}
#date-time-booking-tb label.radio.inline {
    display: inline-block;
    font-weight: normal !important;
    width:80px;
    padding-top: 0
}
#date-time-booking-tb label.radio.inline[for="room_type"] {
    margin-left: 30px;
}
#date-time-booking-tb label[for="room_type"] {
    display: block;
}
#booking-reference-td label {
    font-size: .9em
}
#booking-reference-td input[type="text"],#booking-reference-td input[type="email"] {
    height: 28px
}
#passengers label,#passengers input,#passengers select {
    font-size:.8em;
}
#passengers label {
    text-transform: uppercase;
}
#passengers select {
    padding: 6px 0px
}
.passenger-item {
    padding: 5px 0px;
}
.passenger-item [class*="col-sm"]:not(:first-child) {
    padding-left: 7px;
}
.passenger-item [class*="col-sm"]:not(:last-child) {
    padding-right: 7px;
}
.staff-page {
    background: #EDEDED
}
.staff-sidebar .thumbnail {
    border-radius: 0;
    padding: 0
}
.staff-sidebar,.staff-content {
    border: 1px solid #cccccc;
    box-shadow: 1px 1px #ffffff;
    float: left;
    padding: 20px 20px 10px;
    background: #fff;
    width: 100%;
    margin-top: 30px;
}
.staff-rate-wrapper {
    width: 200px;
    float: right;
    border: 1px solid #ccc;
    box-shadow: 1px 1px #fff;
    padding: 10px;
    position: relative;
    text-align: center;
}
.staff-rate > i {
    font-size: 1.3em;
    color: #FFC625
}
.staff-ratied > i {
    font-size: 1.3em;
    color: #FFC625
}
.staff-meta {
    margin-top:20px;
    margin-bottom: 20px;
}
.staff-trip  {
    padding: 15px;
    background: #fff
}
.staff-comments .comment-avatar {
    width: 60px;
    margin: auto;
    max-width: 100% !important;
}
.staff-comments .comment-text {
    margin-left: -30px;
}
.staff-comments .bs-callout {
    padding-bottom: 30px;
}
.staff-comment-item {
    margin-bottom: 20px;
}
.staff-edit-profile-page {
    margin: 20px 0;
    padding: 10px 0 15px 0;
    background: #fff;
}
#tour-staffs .staff-item {
    font-size:13px;
    padding:10px 0px 5px 0px;
    margin:10px 0px 5px 0px;
    border-top:1px solid #ccc;
}
#tour-staffs > h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;    
}
#tour-staffs .staff-item p {
    margin-bottom:  0;
    margin-top:5px;
}

ul.staff-specialties input{
    margin-bottom: 10px;
}
#staff-content-wrapper h1 {
    font-size: 30px;
    margin-top: 5px;
}
#staff-content-wrapper  h2 {
    font-size: 25px;
    margin: 25px 0px 15px 0px;
}
.staff-trip h3,.staff-popular-trip h3 {
    font-size: 18px;
    margin-top: 10px;
}
.staff-trip ul.mainAttractionList {
    padding-left: 15px;
}
#detail-tour-tab a, #tour-staffs h4 {
  font-family: "open sans";
  font-weight: bold;
}
#tour-staffs h4 {
    font-size: 1.4em;
}
.selectpicker .glyphicon:before  {
    content :"" !important
}
#booking-modal-content span.help {
    color: #900
}
.form-group {
    overflow-y: auto;
    margin-bottom: 10px;
}