.col-sm-27,.col-sm-57 {
    padding-left: 15px;
    padding-right: 15px;
}

@media(min-width:768px) {
    .col-sm-27 {
        width: 28.571%;
        float: left
    }
    .col-sm-57 {
        width: 71.428%;
        float: left
    }
}
@media(max-width:1199px) {
    #gui-ebooks {
        height: auto;
    }
    #gui-ebooks > div {
        margin-top: 20px;
        padding-bottom: 30px;
    }
}
@media(max-width:992px) {
    #intro {
        border-radius: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 0 0 4px #111111;
        height: auto !important;
    }
    .feature-item {
        min-height: 352px;
    }
    #package-check {
        margin-bottom: 15px;
    }
    #features-tab i {
        font-size: 2em;
    }
    .col-sm-57 {
        width: 100%
    }
}
@media(max-width:768px) and (min-width:480px) {
    #main-nav li a {
        padding-left: 7px;
        padding-right: 7px;
        font-size: .9em !important;
    }
    #country-main-nav-wrapper li a {
        font-size: 1.7em;
        padding-left: 10px;
        padding-right: 10px;
    }
    .tour-content {
        position: relative
    }
    .price-col,.compare-col {
        position: absolute;
        bottom: 0
    }
    .compare-col {
        left: 100%;
    }
    .price-col {
        left: 130%;
        bottom: -10px
    }
    .price-col p {
        font-size: 1em !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    h3.tour-title {
        margin-top: 0px !important;
    }
}
@media(max-width:768px){
    #intro-header {
        width: 80%;
        border: none
    }
    #intro-country-nav li a {
        font-size: 1.2em;
    }
    #intro-country-nav {
        margin-top: 1%
    }
    .col-sm-27,.col-sm-27 {
        width: 100%;
    }
}
@media(max-width:767px){
    .feature-item {
       height: auto;
       min-height: 0 !important;
       padding-bottom: 0;
       margin-bottom: 10px;
    }
    #features-tab i {
        font-size: 2em;
    }
    .feature-item p {
        display: none
    }
    .feature-item > .col-xs-10 {
        min-height: 46px
    }
}
@media(max-width:680px){
    
    #intro-country-nav li a {
        font-size: 1.2em;
    }
    #intro-description img {
        margin: auto;
        margin-bottom: 10px
    }
    #main-logo img {
        max-width: 120px;
    }
    #country-main-nav-wrapper {
        margin-left: 130px
    }
    #gui-ebooks form input {
        width: 100%;
    }
    #gui-ebooks > div {
        padding-bottom: 100px;
    }
    #gui-ebooks form button {
        width: 130px;
        top:90px;
        left: calc(50% - 45px)
    }
}
@media(max-width:360px){
    #intro-country-nav li a {
        font-size: 1.1em;
    }
    #country-main-nav-wrapper li a {
        font-size: 1.8em;
      }
}