.col-sm-27,.col-sm-57 {
    padding-left: 15px;
    padding-right: 15px;
}

@media(min-width:768px) {
    .col-sm-27 {
        width: 28.571%;
        float: left
    }
    .col-sm-57 {
        width: 71.428%;
        float: left
    }
}
@media(max-width:1199px) {
    #gui-ebooks {
        height: auto;
    }
    #gui-ebooks > div {
        margin-top: 20px;
        padding-bottom: 30px;
    }
}
@media(max-width:992px) {
    #intro {
        border-radius: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 0 0 4px #111111;
        height: auto !important;
    }
    .feature-item {
        min-height: 352px;
    }
    #package-check {
        margin-bottom: 15px;
    }
    #features-tab i {
        font-size: 2em;
    }
    .col-sm-57,.col-sm-27  {
        width: 100%
    }
    #country-main-nav-wrapper li a {
        font-size: 1.5em;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #intro-socials  li {
        padding: 0 !important;
    }
}
@media only screen and (max-width:1000px) and (min-width:760px){
    .container{min-width:760px !important;padding-left: 10px!important;padding-right: 10px !important}
    #gui-ebooks form input{
        height: 40px;
    }
   #gui-ebooks img {
        left: -2px;
        position: absolute;
        top: -2px;
        width: 50px;
    }
    #gui-ebooks form input {
        border: 1px solid #d2d2d2;
        height: 40px;
        padding-left: 46px;
        width: 68%;
        font-size: 11px
      }
      #gui-ebooks form button {
          font-size: 10px;
          height: 40px;
      }
      #gui-ebooks form button p {
          margin: 0;
          font-size: 1.1em;
      }
      #gui-ebooks {padding: 0px;}
}
@media(max-width:768px) and (min-width:480px) {
    #main-nav li a {
        padding-left: 7px;
        padding-right: 7px;
        font-size: .9em !important;
    }
    
    .tour-content {
        position: relative
    }
    .price-col,.compare-col {
        position: absolute;
        bottom: 0
    }
    .compare-col {
        left: 100%;
    }
    .price-col {
        left: 135%;
        bottom: 45px;
        font-size: .8em !important;
    }
    .price-col p {
        font-size: 1em !important;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    h3.tour-title {
        margin-top: 0px !important;
    }
    .tour-map {
        width: 130px !important;
        height: 130px !important;
    }
    .tour-item .tour-actions p {
        font-size: .8em !important;
    }
    .tour-item .tour-booking {
        margin-top: 0 !important;
    }
    
}

@media(max-width:768px){
    #intro-header {
        width: 80%;
        border: none
    }
    #intro-country-nav li a {
        font-size: 1.2em;
    }
    #intro-country-nav {
        margin-top: 1%
    }
    .col-sm-27,.col-sm-27 {
        width: 100%;
    }
    
}
@media(max-width:767px){
    .feature-item {
       height: auto;
       min-height: 0 !important;
       padding-bottom: 0;
       margin-bottom: 10px;
    }
    #features-tab i {
        font-size: 2em;
    }
    .feature-item p {
        display: none
    }
    .feature-item > .col-xs-10 {
        min-height: 46px
    }
}
@media(max-width:680px){
    
    #intro-country-nav li a {
        font-size: 1.2em;
    }
    #intro-description img {
        margin: auto;
        margin-bottom: 10px
    }
    #main-logo img {
        max-width: 120px;
    }
    #country-main-nav-wrapper {
        margin-left: 130px
    }
    #gui-ebooks form input {
        width: 100%;
    }
    #gui-ebooks > div {
        padding-bottom: 100px;
    }
    #gui-ebooks form button {
        width: 130px;
        top:90px;
        left: calc(50% - 45px)
    }
    #quick-contact-form {
        width: 45.6px;
        height:168px;
        background-size: 45.6px 168px;
    }
}
@media(max-width:360px){
    #intro-country-nav li a {
        font-size: 1.1em;
    }
    #country-main-nav-wrapper li a {
        font-size: 1.4em;
      }
}