.col-sm-27,.col-sm-57 {
    padding-left: 15px;
    padding-right: 15px;
}

@media(min-width:768px) {
    .col-sm-27 {
        width: 28.571%;
        float: left
    }
    .col-sm-57 {
        width: 71.428%;
        float: left
    }
}
@media(max-width:992px) {
    #intro {
        border-radius: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 0 0 4px #111111;
        height: auto !important;
    }
}
@media(max-width:768px){
    #intro-header {
        width: 80%;
        border: none
    }
    #intro-country-nav li a {
        font-size: 1.2em;
    }
    #intro-country-nav {
        margin-top: 1%
    }
    .col-sm-27,.col-sm-27 {
        width: 100%;
    }
}
@media(max-width:680px){
    
    #intro-country-nav li a {
        font-size: 1.2em;
    }
    #intro-description img {
        margin: auto;
        margin-bottom: 10px
    }
    #main-logo img {
        max-width: 120px;
    }
    #country-main-nav-wrapper {
        margin-left: 130px
    }
}
@media(max-width:360px){
    #intro-country-nav li a {
        font-size: 1.1em;
    }
    #country-main-nav-wrapper li a {
        font-size: 1.8em;
      }
}